* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
 
/* display property*/
/*.inline{
    background-color:rgba(191, 255, 0, 0.895);
}

.inline1{
    display:inline;
}

span{
    display:block;
}*/

p{
    text-align: center;
}
 

/* flex */
/*#container{
    gap:20px;
    height:40%;
    width:100%;
    background-color:pink;
    margin-top:30px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-direction:column;
}

#box1{
    height:80%;
    width:20%;
    background-color: rgba(0, 255, 255, 0.633);
    
}

#box2{
    height:80%;
    width:20%;
    background-color: rgba(255, 0, 0, 0.584);
}

#box3{
    height:80%;
    width:20%;
    background-color: rgba(102, 255, 0, 0.584);
}

#box4{
    height:80%;
    width:20%;
    background-color: rgba(200, 0, 255, 0.584);
} */




/* css grid */
/*.container{
    height:90%;
    width:100%;
    gap:10px;
    background-color: gray;
    display:grid;
    grid-template-columns: 50% 50%;
}

.box{
    height:100%;
    width:100%;
    background-color: aliceblue;
    margin-bottom:10px;

}*/






/*positions */
#container1{
    height:50%;
    width:50%;
    background-color:rgba(0, 255, 255, 0.47);
}