* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}


@font-face {
    font-family: hihi;
    src: url(./Rockybilly.ttf);
}
h1{
    /*color:rgba(255, 0, 0, 0.444);*/
    background-color:pink;
    font-size:50px;
}

#Hello{
    color: purple; 
    background-color: transparent;
}

/*h1, p{  this is group selcetor 
     color:burlywood;
}*/



